.hiddenBig {
    display: none;
  }

.highImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 240px;
    transition: width 1s, height 1s;
  }

.highCard {
    max-height: 75vh;
}

.cardLink {
  color: black;
}

.cardLink:hover {
  color: rgba(0, 0, 0, 0.802);
}

.main {
  min-height: 100vh;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navPoint {
  cursor: pointer;
}

.profile {
  max-height: 300px;
  max-width: 300px;
}

.projectImg {
    height: 300px;
    width: 346px;
  }

  
.technologies {
  color: white;
  opacity: 0;
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

  .technologies:hover {
    opacity: 1;
    background-color: rgba(0, 0, 255, 0.625);
  }

.techHead {
  font-size: 32px;
}

.techText {
  text-align: "left";
  font-size: 24px;
}

  @media screen and (max-width:450px){

  .hiddenBig {
    display: inherit;
  }

  .hiddenMedia {
    display: none;
    color: '#F2FEFF'
  }
  
}