.epikLink {
  color: #387196;
  text-decoration: none !important;
}

.epikLink:hover {
  color: #2e5a77;
  text-decoration: none !important;
}

.hero {
  background-image: url("https://profile-dms-pictures.s3.amazonaws.com/profileBG.PNG");
  background-size: cover;
  position: sticky;
}

.hello {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #387196 !important;
}

.nav-link {
  color:#387196;
}

.fa-github, .fa-linkedin {
  color: #209CEE;
}

.nav-link:hover {
  color:#E3B16B;
}

.hide {
  background-color: white;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.hiddenBig {
    display: none;
  }

.highImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 240px;
    transition: width 1s, height 1s;
  }

.highCard {
    max-height: 75vh;
}

.intro {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.intro-text {
  color: rgb(61, 61, 61);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.cardLink {
  color: black;
}

.cardLink:hover {
  color: rgba(0, 0, 0, 0.802);
}

/* .Logo { */
  /* height: 100px;
  width: 100px; */
  /* font-family: 'Lobster', cursive;
  font-weight: 500; */
/* } */

.main {
  min-height: 100vh;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navPoint {
  cursor: pointer;
}

.profile {
  position: relative;
  max-height: 300px;
  max-width: 300px;
}

.projectImg {
    height: 300px;
    width: 346px;
  }

.slider {
  background: #209CEE;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 10;
}
  
.technologies {
  color: white;
  opacity: 0;
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

  .technologies:hover {
    opacity: 1;
    background-color: rgba(0, 0, 255, 0.625);
  }

.techHead {
  font-size: 32px;
}

.techText {
  text-align: "left";
  font-size: 24px;
}

  @media screen and (max-width:450px){

  .hiddenBig {
    display: inherit;
  }

  .hiddenMedia {
    display: none;
    color: '#F2FEFF';
  }
  
}